body{
    background: url(backgroundSito.jpg) rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.immagine{
    text-align: center;
}
.responsive{
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 10%;
}
.paragrafo{
    margin: 10%;
    text-align: center;
    color: white;
}