:root {
    --primary-color: #d586c4;
    --primary-color-alt: #cb819b;

    --box-color:  #e6d0f2;
    --border-color: #d4b7e4;
    --solid-color: #eeeeee;

    --text-color: #5a4263;
    --text-shadow-color: #ffe3fe;

    --background-image: url('../../images/background-l.svg');
}

@media (prefers-color-scheme: dark) {
    :root {
        --box-color: #4e4155;
        --border-color: #403545;
        --solid-color: #191919;

        --text-color: #eeeeee;
        --text-shadow-color: #000000;

        --background-image: url('../../images/background-d.svg');
    }
}
