:root {
    --primary-color: #ba66a8;
    --primary-color-alt: #ee6897;

    --translucent-color:  #a69dab22;
    --border-color: #a69dab66;

    --solid-color: #eeeeee;
    --text-color: #191919;
    --animation-color: #6b0c5e;
    --background-image: url('../../images/background-l.svg');
}

@media (prefers-color-scheme: dark) {
    :root {
        --translucent-color: #4c3f5222;
        --border-color: #4c3f5266;

        --solid-color: #191919;
        --text-color: #eeeeee;
        --background-image: url('../../images/background-d.svg');
    }
}