.article-box {
    border-radius: 15px 30px;
    color: var(--text-color);
    background-color: var(--box-color);
    box-shadow: 10px 10px var(--border-color);
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.article-box:hover {
    box-shadow: 8px 8px var(--primary-color);
}

.article-box h1 {
    color: var(--primary-color);
    font-weight: bold;
}

.article-box h2 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: larger;
}

.article-box p {
    font-size: 1.5rem;
}
