button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 50px;
    padding: 5px;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    box-shadow: 4px 4px var(--primary-color-alt);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    transition: transform 0.3s ease;
}

button:hover {
    filter: hue-rotate(30deg);
}

button:active {
    transform: scale(0.95);
    box-shadow: 2px 2px var(--primary-color-alt);
}

.button-crud {
    border-radius: 10px;
    padding: 2px;
    font-size: 1rem;
    margin: 5px;
}
