button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: var(--primary-color-alt);
}

#titleSpeedPlus, #titleSpeedMinus {
    padding: 5px 28px;
}