.text-adaptive {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.text-adaptive:visited {
    color: var(--text-color);
}

.text-adaptive:hover {
    color: var(--primary-color-alt);
    transform: scale(1.02);
    text-decoration: underline;
}

.text-adaptive:active {
    color: var(--primary-color);
}