.text-adaptive {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 3px var(--text-shadow-color);
    transition: transform 0.3s ease;
}

.text-adaptive:active {
    transform: scale(0.95);
}

.text-adaptive:hover {
    color: var(--primary-color-alt);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.text-adaptive:active {
    color: var(--primary-color);
}

strong {
    color: var(--primary-color);
}
